*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 20px;
  position: absolute;
}